.swag {
  position: relative;
  font-size: 50px;
  color: #333;
  opacity: 0;
  animation: fade-in-out 2s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20%);
  }
}
