.Landing {
  background-color: aqua;
}

.border {
  border: 1px solid red;
}

.white {
  background-color: white;
}

.header {
  height: 9vh;
  width: 100vw;
  background-color: aqua;
  position: absolute;
  top: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.heading {
  flex: 1;
  font-size: large;
  text-align: left;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.links > p {
  margin: 0 1.5vw 0 1.5vw;
}

.blank_flex {
  width: 10vw;
}

.body {
  max-width: 100vw;
}

.sections-container {
  display: flex;
  width: 100vw;
  flex: 1;
}

.column-left {
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px 5px 5px 0;
}

.column-right {
  justify-content: center;
  align-items: center;
  flex: 3;
  margin: 10px 0 5px 5px;
}
